.Popup {
    --gap: 20px;

    display: none;

    &.isActive {
        display: block;
    }

    &-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 9999;
    }

    &-close {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        border: 0;
        background: transparent;
        z-index: 10000;
        padding: 0;

        svg {
            fill: var(--color-black);
            width: 30px;
            height: 30px;
            display: block;
        }
    }

    &-content {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--color-white);
        border-radius: var(--border-radius-img);
        z-index: 10000;
        overflow-y: auto;
        width: 100%;
        max-width: 700px;
        display: flex;
        align-items: center;
        gap: 0;
    }

    &-image {
        flex: 0 0 50%;

        img {
            border-radius: 0;
            display: block;
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }

    &-body {
        padding: var(--gap);
        box-sizing: border-box;
        flex: 0 0 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .Button {
            width: 100%;
            box-sizing: border-box;
        }
    }

    &-text {
        h2 {
            margin-top: 0;
        }
    }
}
